[package]
name = "kh-log-utils"
description = "KaptainhooK log utilities (std-only)"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]
